/* RESET START */
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	color: #000;
    background-color: #f5f6f8;
	font: 400 12px/1 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    font-weight: normal;
}
ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	color: inherit;
    text-decoration: none;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
input{
    border: none;
    outline: none;
}
/* RESET END */

/* LOADER START */

#loading{
    background-color: #2980b9;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    margin-top: 0px;
    top: 0px;
    transition: all .1s linear .5s;
}
#loading.hide{
    z-index: -1;
    opacity: 0;
}
#loading-center{
    width: 100%;
    height: 100%;
    position: relative;
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 118px;
    width: 118px;
    margin-top: -59px;
    margin-left: -59px;

}

.object{
    width: 20px;
    height: 20px;
    background-color: #FFF;
    margin-right: 20px;
    float: left;
    margin-bottom: 20px;
}
.object:nth-child(3n+0) {
    margin-right: 0px;
}


#object_one {
    -webkit-animation: animate 1s -0.9s ease-in-out infinite ;
    animation: animate 1s -0.9s ease-in-out infinite ;
}
#object_two {
    -webkit-animation: animate 1s -0.8s ease-in-out infinite ;
    animation: animate 1s -0.8s ease-in-out infinite ;
}
#object_three {
    -webkit-animation: animate 1s -0.7s ease-in-out infinite ;
    animation: animate 1s -0.7s ease-in-out infinite ;
}
#object_four {
    -webkit-animation: animate 1s -0.6s ease-in-out infinite ;
    animation: animate 1s -0.6s ease-in-out infinite ;
}
#object_five {
    -webkit-animation: animate 1s -0.5s ease-in-out infinite ;
    animation: animate 1s -0.5s ease-in-out infinite ;
}
#object_six {
    -webkit-animation: animate 1s -0.4s ease-in-out infinite ;
    animation: animate 1s -0.4s ease-in-out infinite ;
}
#object_seven {
    -webkit-animation: animate 1s -0.3s ease-in-out infinite ;
    animation: animate 1s -0.3s ease-in-out infinite ;
}
#object_eight {
    -webkit-animation: animate 1s -0.2s ease-in-out infinite ;
    animation: animate 1s -0.2s ease-in-out infinite ;
}
#object_nine {
    -webkit-animation: animate 1s -0.1s ease-in-out infinite ;
    animation: animate 1s -0.1s ease-in-out infinite ;
}

@-webkit-keyframes animate {


    50% {
        -ms-transform: scale(1.5,1.5);
        -webkit-transform: scale(1.5,1.5);
        transform: scale(1.5,1.5);
    }

    100% {
        -ms-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }

}

@keyframes animate {
    50% {
        -ms-transform: scale(1.5,1.5);
        -webkit-transform: scale(1.5,1.5);
        transform: scale(1.5,1.5);
    }

    100% {
        -ms-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }

}

/* LOADER END */

/* FLEX UTILITY */

/* ===== display =====*/
.d-flex{
    display: flex;
}

/* ===== direction ===== */
.flex-row{
    flex-direction: row;
}
.flex-row-revers{
    flex-direction: row-reverse;
}
.flex-column{
    flex-direction: column;
}
.flex-column-reverse{
    flex-direction: column-reverse;
}

/* ===== wrap ===== */
.flex-wrap{
    flex-wrap: wrap;
}
.flex-nowrap{
    flex-wrap: nowrap;
}

/* ===== justify ===== */
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-end{
    justify-content: flex-end;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}

/* ===== align-items ===== */
.align-items-start{
    align-items: flex-start;
}
.align-items-end{
    align-items: flex-end;
}
.align-items-center{
    align-items: center;
}
.align-items-baseline{
    align-items: baseline;
}
.align-items-stretch{
    align-items: stretch;
}

/* ===== align-content ===== */
.align-content-start{
    align-content: flex-start;
}
.align-content-end{
    align-content: flex-end;
}
.align-content-center{
    align-content: center;
}
.align-content-between{
    align-content: space-between;
}
.align-content-around{
    align-content: space-around;
}

/* ===== align-self ===== */
.align-self-start{
    align-self: flex-start;
}
.align-self-end{
    align-self: flex-end;
}
.align-self-center{
    align-self: center;
}
.align-self-baseline{
    align-self: baseline;
}
.align-self-stretch{
    align-self: stretch;
}

/* ===== order ===== */
.order-1{
    order: 1;
}
.order-2{
    order: 2;
}
.order-3{
    order: 3;
}
.order-4{
    order: 4;
}
.order-5{
    order: 5;
}
.order-6{
    order: 6;
}
.order-7{
    order: 7;
}
.order-8{
    order: 8;
}
.order-9{
    order: 9;
}
.order-10{
    order: 10;
}
.order-11{
    order: 11;
}
.order-12{
    order: 12;
}

/* ===== DEFAULT COMPONENT ===== */

.container{
    max-width: 890px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn{
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    border-radius: 2px;
    padding: 10px 30px;
    text-transform: uppercase;
}

.btn.btn-default{
    background-color: #d6e3ec;
    color: #8ea1b4;
}

.form-control{
    width: 100%;
    height: 40px;
    border: 2px solid #212121;
    padding: 0 15px;
    font-size: 16px;
}

.form-control + .form-control{
    margin-top: 15px;
}

/* HEADER START */
#header {
    padding: 14px 0;
    background-color: #3498db;
    box-shadow: 0 5px 30px 0 rgba(52, 152, 219, 0.4);
}

.chat-room-btn-toggle{
    margin-right: auto;
}

.chat-room-btn-toggle span{
    display: block;
    background-color: #fff;
    width: 26px;
    height: 3px;
    border-radius: 3px;
}

.chat-room-btn-toggle span + span{
    margin-top: 5px;
}

.chat-room-btn-toggle span:nth-child(2){
    width: 19px;
}

.search-users{
    font-size: 23px;
    color: #fff;
    margin-right: 23px;
}

.user-ava{
    margin-right: 15px;
}

.user-name {
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
}

.user-status{
    display: block;
    color: #2775a9;
    font-size: 12px;
    line-height: 21px;
}
/* HEADER END */
.chat-container{
    padding: 20px 0;
    height: calc(100vh - 70px);
}

/* chat-rooms-list */

.chat-rooms-container{
    background-color: #fff;
    padding: 15px 0 30px;
    box-shadow: 0 0 25px 0 rgba(53, 152, 219, 0.1);
    flex-grow: 1;
    margin-right: 30px;
    max-width: 276px;
    display: flex;
    flex-direction: column;
}

.chat-rooms-head{
    padding: 15px;
}
.chat-rooms-head h6{
    font-size: 16px;
    color: #3598db;
    font-weight: 700;
}

.chat-rooms-list{
    border-top: 1px solid #edf0f2;
    margin-top: 13px;
    flex-grow: 1;
    overflow: auto;
    padding: 0 15px;
}

.chat-room-item {
    padding: 15px;
    margin: 0 -15px;
}

.chat-room-item:hover{
    background-color: #f5f6f8;
    cursor: pointer;
}

.chat-room-item.active{
    background-color: #f5f6f8;
}

.chat-room-user-ava{
    position: relative;
}

.chat-room-user-ava .new-msg-count{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: #3198db;
    color: #fff;
    top: -7px;
    right: -4px;
    display: none;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
    box-shadow: 0 2px 10px 0 rgba(49, 152, 219, 0.5);

}

.chat-room-user-ava .new-msg-count.active{
    display: block;
}

.chat-room-user-info{
    flex-grow: 1;
    margin-left: 13px;
    min-width: 78%;
    position: relative;
}

.chat-room-user-info .chat-room-user-name{
    font-weight: 700;
    font-size: 16px;
    color: #34495e;
}

.chat-room-user-info .chat-room-last-msg{
    margin-top: 5px;
}

.chat-room-user-info .last-msg{
    color: #8ea1b4;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 80%;
    display: inline-block;
}

.chat-room-user-info .last-msg-time{
    color: #c9d6df;
}

.chat-room-user-status{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 3px;
}

.chat-room-user-status.online{
    background-color: #51dacf;
    box-shadow: 0 2px 4px 0 rgba(81, 218, 207, 0.4);
}

.chat-room-user-status.offline{
    background-color: #d4e1ea;
    box-shadow: 0 1px 5px 0 rgba(201, 214, 223, 0.4);
}

/* current chat-room */

.current-chat-room-container{
    flex-grow: 3;
}

.current-chat-room{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.current-chat-room-head{
    padding: 24px 0;
    border-bottom: 1px solid #ddebf4;
    box-shadow: 0 8px 13px -8px rgba(0, 0, 0, .2);
    z-index: 9;
}

.current-chat-room-head .current-chat-room-user-name{
    font-size: 18px;
    color: #16315c;
    font-weight: 700;
}

.current-chat-room-head .chat-room-user-status{
    position: static;
    margin-left: 11px;
    width: 10px;
    height: 10px;
}

.message-container{
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px 0;
}

.message-container .message{
    display: flex;
}

.message-container .message.from-you{
    flex-direction: row-reverse;
}

.message-container .message + .message{
    margin-top: 20px;
}

.message-container .message img{
    width: 40px;
    height: 40px;
}

.message-container .message .message-text{
    padding: 12px;
    border-radius: 30px;
    min-width: 360px;
    line-height: 1.5;
}

.message-container .message.to-you .message-text{
    background-color: #fff;
    box-shadow: 0 0 25px rgba(53, 152, 219, .2);
    color: #8ea1b4;
    margin-left: 30px;
}

.message-container .message.from-you .message-text{
    background-color: #3598db;
    color: #fff;
    margin-right: 30px;
}

.message-form-container .writing-status{
    padding: 12px;
    color: #8ea1b4;
    font-size: 11px;
    text-align: center;
}

.message-form-container form{
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 25px rgba(53, 152, 219, 0.05);
    display: flex;
}

.message-form-container form .send-btn{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #3598db;
    box-shadow: 0 3px 15px rgba(53, 152, 219, 0.3);
    color: #fff;
    font-size: 17px;
}

.message-form-container form input[name="message"]{
    color: #8ea1b4;
    font-size: 12px;
    flex-grow: 1;
    padding-right: 20px;
}

input[name="message"]::-webkit-input-placeholder {color:#8ea1b4;}
input[name="message"]::-moz-placeholder          {color:#8ea1b4;}/* Firefox 19+ */
input[name="message"]:-moz-placeholder           {color:#8ea1b4;}/* Firefox 18- */
input[name="message"]:-ms-input-placeholder      {color:#8ea1b4;}

/* Modal */

.overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: all .3s linear;
}

.overlay.show{
    z-index: 99;
    opacity: 1;
}

.modal{
    position: fixed;
    background-color: #fff;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: all .3s linear;
}

.modal.show{
    z-index: 100;
    opacity: 1;
}

.modal-title{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 25px;
}

#enter-modal form{
    text-align: center;
}

#enter-modal form .btn{
    margin-top: 25px;
}

























